@import 'colors';
@import 'animation';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-padding-top: 82px;
}
h2 {
	text-align: center;
}
body {
	position: relative;
	background-color: #bebebeee;
	font-family: 'Montserrat', sans-serif;
}
.underline {
	height: 4px;
	width: 60px;
	margin: 0 auto 40px;
	background-color: $main-color;
}
nav {
	z-index: 100;
	transition: background-color 0.6s;

	.nav-link {
		text-transform: uppercase;
		color: $white;
	}

	.navbar-brand {
		text-transform: uppercase;
		color: $white;
		font-weight: bold;
	}
	.fa-bars {
		padding: 10px;
		color: $main-color;
	}
	.active {
		color: $main-color;
	}
}
.hero-img2 {
	background-position: center;
	background-image: url('../img/technology-g822bc81c5_640.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: local;
	position: relative;
	top: -100px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.container {
		margin: 10px;
		padding: 10px;
	}
}

.hero-img {
	background-position: center;
	background-image: url('../img/playstation-g73ebff752_640.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	top: -100px;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.fa-chevron-down {
		font-size: 30px;
		position: absolute;
		color: $white;
		bottom: 150px;
	}
}
.hero-bg {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
}

.hero-text {
	position: relative;
	text-align: center;
	color: white;
	font-size: 40px;
	padding: 20px 0;
}
.padding-top {
	padding-top: 0;
}
.blue {
	color: $main-color;
}
.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
	height: 100%;
}

.carousel-caption {
	position: absolute;
	bottom: 60px;
	z-index: 2;
}

.box {
	height: 800px;

	overflow: hidden;
}
.carousel-item .carousel-caption {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	left: 0;
	right: 0;

	margin: 20px 0;
	padding: 5px 0 0;
	z-index: 20;
}

.aboutus {
	position: relative;
	top: -100px;
}
i {
	margin-top: 20px;
	font-size: 30px;
}
.card-title {
	text-transform: uppercase;
}
.aboutus-card-title {
	font-size: 18px;
	text-transform: uppercase;
}

.aboutus-card-text {
	font-size: 14px;
}

.hover-aboutus:hover {
	color: $main-color;
}

.portfolio {
	position: relative;
	top: -100px;
}
.white {
	color: $white;
	z-index: 2;
	i {
		margin-top: 20px;
		font-size: 30px;
	}

	.aboutus-card-title {
		font-size: 18px;
		text-transform: uppercase;
	}

	.aboutus-card-text {
		font-size: 14px;
	}

	.hover-aboutus:hover {
		color: $main-color;
	}
}
.slaider {
	display: none;
}
.cartgrups {
	margin: 10px;
	padding: 10px;
}

.title {
	font-size: 40px;
	color: $main-color;
}

.boxes {
	background-color: $white;
	padding: 50px 5px;
	margin: 25px;
	border-radius: 25px;
	box-shadow: 25px 34px 24px 7px rgba(66, 68, 90, 1);
	transition: transform 1s;
}
.boxes:hover {
	transform: scale(1.05);
}
hr {
	border: 3px solid $main-color;
}

.card-groupe-margin {
	margin: 25px;
	padding: 5px;
}

.hero-img3 {
	background-position: center;
	background-image: url('../img/interior-g489a3c84c_1920.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.card {
	transition: transform 0.3s;
	img {
		height: 300px;
		object-fit: cover;
	}
	i {
		padding: 10px;
	}
}
.card:hover {
	transform: scale(0.96);
}

.small {
	i {
		color: $white;
		font-size: 40px;
		padding: 10px;
		text-shadow: 0 0 5px #000;
	}
}
.contact {
	background-image: url('../img/a.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: bottom;
	position: relative;
	top: 0;
	z-index: 0;
	.contact-shadow {
		position: absolute;
		height: 100%;
		width: 100%;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -5;
	}
	.container {
		.contact-us {
			z-index: 1000;
			color: $white;
		}
	}
}

@media (min-width: 375px) {
	header {
		h1 {
			font-size: 36px;
		}

		p {
			font-size: 16px;
		}
	}
}

@media (min-width: 768px) {
	header {
		h1 {
			font-size: 42px;
		}

		p {
			font-size: 20px;
		}
	}
}
@media (min-width: 1200px) {
	.hero-img {
		background-image: url('../img/playstation-g8a0b92abb_1920.jpg');
	}
}

@media (min-width: 992px) {
	html {
		scroll-padding-top: 82px;
	}

	.cartgrups {
		display: none;
	}
	.slaider {
		display: block;
	}
}
